.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
}

.chartContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.legendLabel {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #535B64;
}

.legendItem {
  align-items: center;
}

.itemMaker {
  height: 12px;
  width: 12px;
  margin-right: 8px;
  border-radius: 4px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.engagement-title {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #080707;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#legend {
  padding-left: 40px;
}

#legend li {
  cursor: pointer;
  display: flex;
  padding: 5px 0px 5px 0;
}

#legend li span {
  white-space: nowrap;
}